.headerBox {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: rgb(173,216,230);
}

.links {
    margin-inline: 5px;
    font-size: 22px;
    text-decoration: none;
}
